#numberInput {
    margin-left: 600px;
    margin-top: 30px;
    width: 180px;
    height: 25px;
    padding: 5px;
}

#numberBtn {
    margin-left: 10px;
    margin-top: 30px;
    height: 35px;
    padding: 5px 15px;
    background: #9CD3D9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#quizBox {
    border: 1px solid black;
    width: 700px;
    margin-top: 50px;
    margin-left: 400px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: none;
}

.question {
    border: 1px solid #555;
    padding: 15px;
    width: 95%;
    margin-bottom: 20px;
    background: #F0F2F2;
    border-radius: 8px;
}

.options {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;  
    gap: 12px;                       
}

.option-item {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #ffffff;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    width: 250px;
}

#submitBtn {
    margin-top: 20px;
    height: 35px;
    width: 120px;
    padding: 5px 15px;
    background: #3bd862;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 250px;
    font-size: large;
}

#resultsBox {
    width: 700px;
    margin: 30px 400px;
    border: 1px solid #000;
    background: #fff;
    display: none;
    font-family: Arial;
}

.header-row {
    background: #333;
    color: #fff;
    font-weight: bold;
}

.result-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr; 
    padding: 10px;
    border-bottom: 1px solid #333;
}

.result-row div {
    padding: 5px;
}

.score {
    padding: 5px;
    padding-left: 50px;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: row;
}

#msgBox {
    width: 400px;
    margin: 20px 550px;
    color: white;
    background: rgb(212, 51, 51);
    padding: 15px;
    border-radius: 6px;
    font-size: 22px;
    display: none;
    text-align: center;
}


#tryAgainBtn {
    margin-top: 25px;
    margin-left: 250px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    height: 35px;
}

#loadMsg {
    display: none;
    margin: 100px 625px;
    font-size: 25px;
    font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#inputMsg {
    display: none;
    margin: 80px 600px;
    font-size: 20px;
    font-weight: bold;
}